#searchFood{
    background: #ff5722;
    color: #fff;
    border: 0px;
    outline: none;
    font-size: 21px;
}
#searchFood:focus{
    border: 0;
    box-shadow: 0;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
     box-shadow: 0 0 0 0 rgb(13 110 253); 
}
#foodName{
    outline: none;
}
.form-control:focus {
     box-shadow: 0 0 0 0 rgb(13 110 253); 
}
#foodDetails li{
    list-style: none;
}
#foodDetails h5{
    color: #ff5722;
}
.orange{
    background-color: #fff;
    color: #ff5722;
}
.orangeColor{
    color:#ff5722 !important;
}
#errorHandel{
    color:#ff5722;
}
